<!DOCTYPE html>
<html>
<head>
<title>Valley Designer</title>
<link href="/stylesheets/bootstrap.css" rel='stylesheet' type='text/css' />
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/js/jquery.min.js"></script>
<!-- Custom Theme files -->
<link href="/stylesheets/style.css" rel="stylesheet" type="text/css"
	media="all" />
<link href="/stylesheets/demo1.css" rel="stylesheet" type="text/css"
	media="all" />
<!-- Custom Theme files -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="/js/bundle.js"></script>
<script type="application/x-javascript">
	 addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } 

</script>
<script
	src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<!--webfont-->
<link
	href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,200,300,700'
	rel='stylesheet' type='text/css'>
<link
	href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic'
	rel='stylesheet' type='text/css'>
<link
	href='http://fonts.googleapis.com/css?family=Karla:400,400italic,700,700italic'
	rel='stylesheet' type='text/css'>
<!-- JavaScript includes -->
<script src="/js/ipresenter.packed.js"></script>
<script type="text/javascript" src="/js/move-top.js"></script>
<script type="text/javascript" src="/js/easing.js"></script>
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event) {
			event.preventDefault();
			$('html,body').animate({
				scrollTop : $(this.hash).offset().top
			}, 1200);
		});
	});
</script>
</head>
<body>
	<!-- header-section-starts -->
	<div class="header">
		<div
			style="background-color: #222; border-color: rgba(66, 70, 77, 0.75);"
			class="header-top">
			<div class="container">
				<div class="logo">
					<a href="index.html"><img style="width: 40%; height: 40%;"
						src="/images/logo.png" alt="" /></a>
				</div>
				<div class="top-menu">
					<span class="menu"> </span>
					<nav id="primary_nav_wrap">
						<ul class="cl-effect-15">
							<li><a class="active" href="/">HOME</a></li>
							<li class="current-menu-item"><a href="javascript:void(0)"
								data-hover="PRODUCTS">PRODUCTS</a>
								<ul>
									<li><a href="/mobile" data-hover="MOBILE">MOBILE</a></li>
									<li><a href="/bigdata" data-hover="BIGDATA">BIG DATA</a></li>
									<li><a href="/iot" data-hover="IOT">IOT</a></li>
								</ul></li>
							<li><a href="javascript:void(0)" data-hover="FEATURES">ABOUT
									US</a>
								<ul>
									<li><a href="/management" data-hover="MANAGEMENT">MANAGEMENT</a></li>
									<li><a href="/codeofconduct" data-hover="CODE OF CONDUCT">CODE
											OF CONDUCT</a></li>
									<li><a href="/businessprocess" data-hover="BUSINESS PROCESS">BUSINESS
											PROCESS</a></li>
									<li><a href="/location" data-hover="LOCATIONS">LOCATIONS</a></li>
									<li><a href="/contactus" data-hover="CONTACT US">CONTACT US</a></li>
								</ul></li>
							<li><a href="/blog" data-hover="BLOG">BLOG</a></li>
						</ul>
					</nav>
				</div>
				<!--script-nav-->
				<script>
					$("span.menu").click(function() {
						$(".top-menu ul").slideToggle("slow", function() {
						});
					});
				</script>
				<!--script-nav-->
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<script type="text/javascript">
		var _gaq = _gaq || [];
		_gaq.push([ '_setAccount', 'UA-32024393-1' ]);
		_gaq.push([ '_trackPageview' ]);

		(function() {
			var ga = document.createElement('script');
			ga.type = 'text/javascript';
			ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl'
					: 'http://www')
					+ '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0];
			s.parentNode.insertBefore(ga, s);
		})();
	</script>
	<!-- header-section-ends -->
	<!-- content-section-starts -->
	<div class="container-fluid" style="margin-top: 3%">
		<div class="row">
			<div class="col-md-2 rd-pt-100">
				<div class="row">
					<button class="btn btn-block btn-info" data-toggle="modal"
						data-target="#brochure-modal">Brochure</button>
					<button class="btn btn-block btn-info" data-toggle="modal"
						data-target="#whitepaper-modal">White Paper</button>
				</div>
				<div class="row" style="margin-top:15px">
					<a class="twitter-timeline"
						href="https://twitter.com/hashtag/BigData"
						data-widget-id="726300780332883968">#BigData Tweets</a>
					<script>
						!function(d, s, id) {
							var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/
									.test(d.location) ? 'http' : 'https';
							if (!d.getElementById(id)) {
								js = d.createElement(s);
								js.id = id;
								js.src = p
										+ "://platform.twitter.com/widgets.js";
								fjs.parentNode.insertBefore(js, fjs);
							}
						}(document, "script", "twitter-wjs");
					</script>
				</div>
			</div>
			<div class="col-md-8">
				<div class="row">
					<div class="col-xs-12">
						<div align="center">
							<h2>Big Data</h2>
						</div>
						<br>
						<p style="font-size: 14pt">According to IDC's prediction in
							2013, the market for big data will reach $16.1 billion in 2014,
							growing six times faster than the overall IT market. The kind of
							business analysis reports bring great business opportunities and
							strong research interests among both academics and industry
							communities. Recently our Big Data product offerings are
							organized focusing on Big Data Computing, Big Data Science and
							Analytics, and Big Data Technology and Engineering</p>
						<br />
					</div>
					<div class="col-md-12">
						<div align="center"
							class="embed-responsive embed-responsive-16by9">


							<div id="reflex-platform">
								<canvas id="particles" width="1500" height="400"></canvas>
								<svg height="350px" version="1.1" xmlns="http://www.w3.org/2000/svg"
									xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
									viewBox="0 100 841 414" enable-background="new 0 100 841 414"
									xml:space="preserve" preserveAspectRatio="xMinYMin slice">

    <g id="Base_Graphic">
      <rect x="222.5" y="194.7" opacity="0.31" fill="#919090"
										width="375.4" height="101.2" />
      <g>
        <text transform="matrix(1 0 0 1 78.668 236.2051)" fill="#25373E"
										font-family="'Aller W01 Light'" font-size="10.0324">STREAMING DATA</text>
      </g>
      <g>
        <text transform="matrix(1 0 0 1 661.7847 236.2049)"
										fill="#25373E" font-family="'Aller W01 Light'"
										font-size="10.0324">BUSINESS DATA</text>
      </g>
      <g>
        <g>
          <line fill="none" stroke="#25373E" stroke-miterlimit="10"
										x1="171.9" y1="232.8" x2="180" y2="232.8" />
          <g>
            <polygon fill="#25373E"
										points="176.7,236.9 176,236.1 179.6,232.8 176,229.4 176.7,228.7 181.1,232.8         " />
          </g>
        </g>
      </g>
      <g>
        <g>
          <line fill="none" stroke="#25373E" stroke-miterlimit="10"
										x1="654.2" y1="232.4" x2="646.1" y2="232.4" />
          <g>
            <polygon fill="#25373E"
										points="649.4,228.3 650.1,229.1 646.5,232.4 650.1,235.8 649.4,236.5 645,232.4         " />
          </g>
        </g>
      </g>
      <rect x="222.7" y="154.1" opacity="0.75" fill="#F1F2F2"
										stroke="#E6E7E8" stroke-miterlimit="10" width="375"
										height="38.2" />
      <g>
        
          <text
										transform="matrix(1 -4.740000e-03 4.740000e-03 1 337.0461 287.037)"
										fill="#26393E" font-family="'Aller W01 Light'" font-size="10">Virtualized, Distributed &amp; Scalable </text>
      </g>
      <rect x="226.6" y="169.4" fill="#97C93D" width="121.1"
										height="19.2" />
      <rect x="349.5" y="169.4" fill="#97C93D" width="121.1"
										height="19.2" />
      <rect x="472.5" y="169.4" fill="#97C93D" width="121.1"
										height="19.2" />
      <g>
        <text transform="matrix(1 0 0 1 395.3643 181.4543)"
										fill="#FFFFFF" font-family="'Aller W01 Regular'" font-size="7">Workflow</text>
      </g>
      <g>
        <text transform="matrix(1 0 0 1 260.855 182.1215)"
										fill="#FFFFFF" font-family="'Aller W01 Regular'" font-size="7">Data Abstraction</text>
      </g>
      <g>
        <text transform="matrix(1 0 0 1 519.3315 182.5078)"
										fill="#FFFFFF" font-family="'Aller W01 Regular'" font-size="7">API/SDK</text>
      </g>
      <g>
        <text transform="matrix(1 0 0 1 377.0146 164.7735)"
										fill="#26393E" font-family="'Aller W01 Light'" font-size="8">Reflex Data Factory</text>
      </g>
      <rect x="222.7" y="202.3" opacity="0.72" fill="#FFFFFF"
										width="374.8" height="66.9" />
      <g>
        <text transform="matrix(1 0 0 1 392.915 252.3247)">
									<tspan x="0" y="0" fill="#25373E"
										font-family="'Aller W01 Light'" font-size="7">Distributed </tspan>
									<tspan x="-0.5" y="8.4" fill="#25373E"
										font-family="'Aller W01 Light'" font-size="7">Processing</tspan></text>
      </g>
      <g>
        <text transform="matrix(1 0 0 1 531.4385 253.0323)">
									<tspan x="0" y="0" fill="#25373E"
										font-family="'Aller W01 Light'" font-size="7">Caching &amp;</tspan>
									<tspan x="-2.8" y="8.4" fill="#25373E"
										font-family="'Aller W01 Light'" font-size="7">Visualization</tspan></text>
      </g>
      <g>
        <text transform="matrix(1 0 0 1 453.832 253.0325)">
									<tspan x="0" y="0" fill="#25373E"
										font-family="'Aller W01 Light'" font-size="7">Data Science &amp; </tspan>
									<tspan x="-2.5" y="8.4" fill="#25373E"
										font-family="'Aller W01 Light'" font-size="7">Machine Learning</tspan></text>
      </g>
      <g>
        <text transform="matrix(1 0 0 1 254.2246 253.0325)">
									<tspan x="0" y="0" fill="#25373E"
										font-family="'Aller W01 Light'" font-size="7">Collection &amp; </tspan>
									<tspan x="4.3" y="8.4" fill="#25373E"
										font-family="'Aller W01 Light'" font-size="7">Mediation</tspan></text>
      </g>
      <g>
        <text transform="matrix(1 0 0 1 327.6172 253.032)">
									<tspan x="0" y="0" fill="#25373E"
										font-family="'Aller W01 Light'" font-size="7">Fusion &amp;  </tspan>
									<tspan x="-3" y="8.4" fill="#25373E"
										font-family="'Aller W01 Light'" font-size="7">Enrichment</tspan></text>
      </g>
      
    <g class="icons">
      <g>
        <circle fill="#97C93D" cx="273.2" cy="225.7" r="13.5" />
        <g>
          <path fill="#FFFFFF"
										d="M274.3,227.4l-5-0.5l0-1.1V225c0,0,0-0.1,0-0.1c0,0,0,0,0,0c0,0,0-0.1,0-0.1c0,0,0,0,0,0
            c0,0,0-0.1-0.1-0.1c0,0,0,0,0,0c0,0-0.1-0.1-0.1-0.1c-0.2-0.1-0.4-0.1-0.6,0l-4.6,3.7c-0.1,0.1-0.2,0.3-0.2,0.4
            c0,0.2,0.1,0.3,0.2,0.4l4.6,3.7c0.1,0.1,0.2,0.1,0.3,0.1h0c0,0,0.1,0,0.1,0c0,0,0.1,0,0.1,0c0.2-0.1,0.3-0.3,0.3-0.5l0-1.9l5-0.5
            c0.7,0,1.3-0.6,1.3-1.3C275.6,228,275,227.4,274.3,227.4z" />
          <path fill="#FFFFFF"
										d="M283.1,222.9l-4.6-3.7c-0.1-0.1-0.2-0.1-0.3-0.1h0c0,0-0.1,0-0.1,0c0,0-0.1,0-0.1,0
            c-0.2,0.1-0.3,0.3-0.3,0.5l0,1.9l-5,0.5c-0.7,0-1.3,0.6-1.3,1.3c0,0.7,0.6,1.3,1.3,1.3l5,0.5l0,1.1v0.8c0,0,0,0.1,0,0.1
            c0,0,0,0,0,0c0,0,0,0.1,0,0.1c0,0,0,0,0,0c0,0,0,0.1,0.1,0.1c0,0,0,0,0,0c0,0,0.1,0.1,0.1,0.1c0.2,0.1,0.4,0.1,0.6,0l4.6-3.7
            c0.1-0.1,0.2-0.3,0.2-0.4C283.4,223.2,283.3,223,283.1,222.9z" />
        </g>
      </g>
      <g>
        <circle fill="#97C93D" cx="341.6" cy="225.7" r="13.5" />
        <g>
          <path fill="#FFFFFF"
										d="M337.9,220.2c0,0.9-0.8,1.7-1.7,1.7c-0.9,0-1.7-0.8-1.7-1.7c0-0.9,0.8-1.7,1.7-1.7
            C337.1,218.5,337.9,219.2,337.9,220.2" />
          <path fill="#FFFFFF"
										d="M343.3,220.2c0,0.9-0.8,1.7-1.7,1.7c-0.9,0-1.7-0.8-1.7-1.7c0-0.9,0.8-1.7,1.7-1.7
            C342.6,218.5,343.3,219.2,343.3,220.2" />
          <path fill="#FFFFFF"
										d="M348.8,220.2c0,0.9-0.8,1.7-1.7,1.7c-0.9,0-1.7-0.8-1.7-1.7c0-0.9,0.8-1.7,1.7-1.7
            C348,218.5,348.8,219.2,348.8,220.2" />
          <path fill="#FFFFFF"
										d="M337.9,225.7c0,0.9-0.8,1.7-1.7,1.7c-0.9,0-1.7-0.8-1.7-1.7c0-0.9,0.8-1.7,1.7-1.7
            C337.1,223.9,337.9,224.7,337.9,225.7" />
          <path fill="#FFFFFF"
										d="M343.3,225.7c0,0.9-0.8,1.7-1.7,1.7c-0.9,0-1.7-0.8-1.7-1.7c0-0.9,0.8-1.7,1.7-1.7
            C342.6,223.9,343.3,224.7,343.3,225.7" />
          <path fill="#FFFFFF"
										d="M348.8,225.7c0,0.9-0.8,1.7-1.7,1.7c-0.9,0-1.7-0.8-1.7-1.7c0-0.9,0.8-1.7,1.7-1.7
            C348,223.9,348.8,224.7,348.8,225.7" />
          <path fill="#FFFFFF"
										d="M337.9,231.1c0,0.9-0.8,1.7-1.7,1.7c-0.9,0-1.7-0.8-1.7-1.7c0-0.9,0.8-1.7,1.7-1.7
            C337.1,229.4,337.9,230.2,337.9,231.1" />
          <path fill="#FFFFFF"
										d="M343.3,231.1c0,0.9-0.8,1.7-1.7,1.7c-0.9,0-1.7-0.8-1.7-1.7c0-0.9,0.8-1.7,1.7-1.7
            C342.6,229.4,343.3,230.2,343.3,231.1" />
          <path fill="#FFFFFF"
										d="M348.8,231.1c0,0.9-0.8,1.7-1.7,1.7c-0.9,0-1.7-0.8-1.7-1.7c0-0.9,0.8-1.7,1.7-1.7
            C348,229.4,348.8,230.2,348.8,231.1" />
        </g>
      </g>
      <g>
        <circle fill="#97C93D" cx="410.1" cy="225" r="13.5" />
        <g>
          <path fill="#FFFFFF"
										d="M417.4,219.1H414c-0.4,0-0.7,0.4-0.7,0.8v11c0,0.4,0.3,0.8,0.7,0.8h3.3c0.4,0,0.7-0.4,0.7-0.8v-11
            C418.1,219.5,417.7,219.1,417.4,219.1 M414,219.8h3.3c0,0,0.1,0,0.1,0.1v0.7h-3.5v-0.7C413.9,219.8,414,219.8,414,219.8
             M413.9,222.7h3.5v0.5h-3.5V222.7z M413.9,221.6h3.5v0.5h-3.5V221.6z M417.4,231H414c0,0-0.1,0-0.1-0.1v-0.6h3.5v0.6
            C417.5,230.9,417.4,231,417.4,231" />
          <path fill="#FFFFFF"
										d="M411.7,219.1h-3.3c-0.4,0-0.7,0.4-0.7,0.8v11c0,0.4,0.3,0.8,0.7,0.8h3.3c0.4,0,0.7-0.4,0.7-0.8v-11
            C412.4,219.5,412.1,219.1,411.7,219.1 M408.4,219.8h3.3c0,0,0.1,0,0.1,0.1v0.7h-3.5v-0.7C408.3,219.8,408.3,219.8,408.4,219.8
             M408.3,222.7h3.5v0.5h-3.5V222.7z M408.3,221.6h3.5v0.5h-3.5V221.6z M411.7,231h-3.3c0,0-0.1,0-0.1-0.1v-0.6h3.5v0.6
            C411.8,230.9,411.8,231,411.7,231" />
          <path fill="#FFFFFF"
										d="M406.1,219.1h-3.3c-0.4,0-0.7,0.4-0.7,0.8v11c0,0.4,0.3,0.8,0.7,0.8h3.3c0.4,0,0.7-0.4,0.7-0.8v-11
            C406.8,219.5,406.5,219.1,406.1,219.1 M402.8,219.8h3.3c0.1,0,0.1,0,0.1,0.1v0.7h-3.5v-0.7C402.7,219.8,402.7,219.8,402.8,219.8
             M402.7,222.7h3.5v0.5h-3.5V222.7z M402.7,221.6h3.5v0.5h-3.5V221.6z M406.1,231h-3.3c0,0-0.1,0-0.1-0.1v-0.6h3.5v0.6
            C406.2,230.9,406.2,231,406.1,231" />
        </g>
      </g>
      <g>    
        <circle fill="#97C93D" cx="478.5" cy="225.7" r="13.5" />
        <g>
          <path fill="#FFFFFF"
										d="M481.4,227.9c-2.3,0.5-5.1,0.3-5.3,0.3l-1.1,3.1c-0.1,0.3-0.1,0.6,0.1,0.8c0.2,0.3,0.5,0.4,0.8,0.4h6
            c0.3,0,0.6-0.2,0.8-0.4c0.2-0.3,0.2-0.6,0.1-0.8L481.4,227.9z" />
          <g>
            <path fill="#FFFFFF"
										d="M484.6,232l-2.1-5.8h0l-1.1-2.9v-2.7c0.6-0.1,1-0.7,1-1.3v-0.4c0-0.8-0.6-1.4-1.4-1.4h-4.6
              c-0.8,0-1.4,0.6-1.4,1.4v0.4c0,0.6,0.4,1.2,1,1.3v2.7l-1.3,3.6h0l-1.9,5.2c-0.2,0.4-0.1,0.9,0.1,1.3c0.3,0.4,0.7,0.6,1.1,0.6h9.1
              c0.5,0,0.9-0.2,1.1-0.6C484.7,232.9,484.8,232.4,484.6,232z M483.3,232.5c-0.2,0.3-0.5,0.5-0.9,0.5h-7.3c-0.4,0-0.7-0.2-0.9-0.5
              c-0.2-0.3-0.2-0.7-0.1-1l2.9-8.2l0-3.3c-0.4-0.1-0.8-0.5-0.8-0.9V219c0-0.5,0.3-0.8,0.9-0.8h3.2c0.5,0,0.9,0.3,0.9,0.8v0.1
              c0,0.5-0.4,0.8-0.8,0.9l0,3.3l3,8.2C483.5,231.8,483.5,232.2,483.3,232.5z" />
            <path fill="#FFFFFF"
										d="M479.3,222c-0.4,0-0.6,0.3-0.6,0.6s0.3,0.6,0.6,0.6c0.4,0,0.6-0.3,0.6-0.6S479.6,222,479.3,222z" />
            <path fill="#FFFFFF"
										d="M478.6,224.5c-0.2-0.1-0.4-0.2-0.6-0.2s-0.4,0.1-0.6,0.2c-0.3,0.2-0.4,0.5-0.4,0.9c0,0.6,0.5,1,1,1
              c0.6,0,1-0.5,1-1C479.1,225,478.9,224.7,478.6,224.5z" />
          </g>
        </g>
      </g>
      <g>
        <circle fill="#97C93D" cx="547" cy="225.7" r="13.5" />
        <path fill="#FFFFFF"
										d="M554,229.2v-8.1c0-0.3-0.2-0.6-0.5-0.6h-12.9c-0.3,0-0.5,0.3-0.5,0.6v8.1h-1v1.1c0,0.3,0.3,0.6,0.6,0.6
        h14.9c0.3,0,0.6-0.2,0.6-0.6v-1.1H554z M552.8,229.2h-4.9v0.2c0,0.2-0.1,0.3-0.3,0.3h-1.1c-0.2,0-0.3-0.1-0.3-0.3v-0.2h-4.9V222
        c0-0.3,0.2-0.5,0.4-0.5h10.7c0.2,0,0.4,0.2,0.4,0.5V229.2z" />
      </g>
    </g>
    <g class="gears">
        <g class="correct">
          <g class="clockwise">
            <path fill="#26393E"
										d="M284.6,227.3l-2.1-1.2c0-0.5,0-1,0-1.5l2.1-1.2c0.4-0.2,0.6-0.7,0.5-1.1c-0.3-1.1-0.7-2.1-1.3-3.1
                c-0.2-0.4-0.7-0.6-1.1-0.5l-2.3,0.6c-0.3-0.4-0.7-0.7-1.1-1.1l0.6-2.3c0.1-0.4-0.1-0.9-0.5-1.1c-0.5-0.3-1-0.5-1.5-0.8
                c-0.5-0.2-1-0.4-1.6-0.5c-0.4-0.1-0.9,0.1-1.1,0.5l-1.2,2.1c-0.5,0-1,0-1.5,0l-1.2-2.1c-0.2-0.4-0.7-0.6-1.1-0.5
                c-0.5,0.1-1,0.3-1.5,0.5l-0.2,0.1c-0.5,0.2-0.9,0.4-1.4,0.7c-0.4,0.2-0.6,0.7-0.5,1.1l0.6,2.3c-0.4,0.3-0.7,0.7-1.1,1.1l-2.3-0.6
                c-0.4-0.1-0.9,0.1-1.1,0.5c-0.3,0.4-0.5,0.9-0.7,1.4l-0.1,0.3c-0.2,0.5-0.3,1-0.5,1.4c-0.1,0.4,0.1,0.9,0.5,1.1l2.1,1.2
                c0,0.5,0,1,0,1.5l-2.1,1.2c-0.4,0.2-0.6,0.7-0.5,1.1c0.1,0.5,0.3,1,0.5,1.5l0.1,0.2c0.2,0.5,0.4,1,0.7,1.4
                c0.2,0.4,0.7,0.6,1.1,0.5l2.3-0.6c0.3,0.4,0.7,0.7,1.1,1.1l-0.6,2.3c-0.1,0.4,0.1,0.9,0.5,1.1c0.5,0.3,1,0.5,1.5,0.7
                c0.5,0.2,1.1,0.4,1.6,0.5c0.1,0,0.2,0,0.3,0c0.4,0,0.7-0.2,0.9-0.5l1.2-2.1c0.5,0,1,0,1.5,0l1.2,2.1c0.2,0.4,0.7,0.6,1.1,0.5
                c1.1-0.3,2.1-0.7,3.1-1.3c0.4-0.2,0.6-0.7,0.5-1.1l-0.6-2.3c0.4-0.3,0.7-0.7,1-1.1l2.3,0.6c0.4,0.1,0.9-0.1,1.1-0.5
                c0.3-0.5,0.5-1,0.8-1.5c0.2-0.5,0.4-1.1,0.5-1.6C285.2,228,285,227.5,284.6,227.3z M276.2,226.6c-0.5,1.3-1.7,2.1-3.1,2.1
                c-0.4,0-0.9-0.1-1.3-0.2c-0.8-0.3-1.5-1-1.8-1.8c-0.3-0.8-0.3-1.7,0-2.6c0.5-1.3,1.7-2.1,3.1-2.1c0.4,0,0.9,0.1,1.3,0.2
                c0.8,0.3,1.5,1,1.8,1.8C276.6,224.9,276.6,225.8,276.2,226.6z" />

              <circle x="0" y="0" r="13.5"></circle>
          </g>
        </g>

        <g class="correct">
          <g class="counterClockwise">
            <path fill="#26393E"
										d="M353,227.4l-2.1-1.2c0-0.5,0-1,0-1.5l2.1-1.2c0.4-0.2,0.6-0.7,0.5-1.1c-0.3-1.1-0.7-2.1-1.3-3.1
              c-0.2-0.4-0.7-0.6-1.1-0.5l-2.3,0.6c-0.3-0.4-0.7-0.7-1.1-1.1l0.6-2.3c0.1-0.4-0.1-0.9-0.5-1.1c-0.5-0.3-1-0.5-1.5-0.8
              c-0.5-0.2-1-0.4-1.6-0.5c-0.4-0.1-0.9,0.1-1.1,0.5l-1.2,2.1c-0.5,0-1,0-1.5,0l-1.2-2.1c-0.2-0.4-0.7-0.6-1.1-0.5
              c-0.5,0.1-1,0.3-1.5,0.5l-0.2,0.1c-0.5,0.2-0.9,0.4-1.4,0.7c-0.4,0.2-0.6,0.7-0.5,1.1l0.6,2.3c-0.4,0.3-0.7,0.7-1.1,1.1l-2.3-0.6
              c-0.4-0.1-0.9,0.1-1.1,0.5c-0.3,0.4-0.5,0.9-0.7,1.4l-0.1,0.3c-0.2,0.5-0.3,1-0.5,1.4c-0.1,0.4,0.1,0.9,0.5,1.1l2.1,1.2
              c0,0.5,0,1,0,1.5l-2.1,1.2c-0.4,0.2-0.6,0.7-0.5,1.1c0.1,0.5,0.3,1,0.5,1.5l0.1,0.2c0.2,0.5,0.4,1,0.7,1.4
              c0.2,0.4,0.7,0.6,1.1,0.5l2.3-0.6c0.3,0.4,0.7,0.7,1.1,1.1L335,235c-0.1,0.4,0.1,0.9,0.5,1.1c0.5,0.3,1,0.5,1.5,0.7
              c0.5,0.2,1.1,0.4,1.6,0.5c0.1,0,0.2,0,0.3,0c0.4,0,0.7-0.2,0.9-0.5l1.2-2.1c0.5,0,1,0,1.5,0l1.2,2.1c0.2,0.4,0.7,0.6,1.1,0.5
              c1.1-0.3,2.1-0.7,3.1-1.3c0.4-0.2,0.6-0.7,0.5-1.1l-0.6-2.3c0.4-0.3,0.7-0.7,1-1.1l2.3,0.6c0.4,0.1,0.9-0.1,1.1-0.5
              c0.3-0.5,0.5-1,0.8-1.5c0.2-0.5,0.4-1.1,0.5-1.6C353.6,228.1,353.4,227.7,353,227.4z M344.7,226.8c-0.5,1.3-1.7,2.1-3.1,2.1
              c-0.4,0-0.9-0.1-1.3-0.2c-0.8-0.3-1.5-1-1.8-1.8c-0.3-0.8-0.3-1.7,0-2.6c0.5-1.3,1.7-2.1,3.1-2.1c0.4,0,0.9,0.1,1.3,0.2
              c0.8,0.3,1.5,1,1.8,1.8C345,225.1,345,226,344.7,226.8z" />

              <circle x="0" y="0" r="13.5"></circle>
          </g>
        </g>
        <g class="correct">
          <g class="clockwise">
            <path fill="#26393E"
										d="M421.5,227.1l-2.1-1.2c0-0.5,0-1,0-1.5l2.1-1.2c0.4-0.2,0.6-0.7,0.5-1.1c-0.3-1.1-0.7-2.1-1.3-3.1
              c-0.2-0.4-0.7-0.6-1.1-0.5l-2.3,0.6c-0.3-0.4-0.7-0.7-1.1-1.1l0.6-2.3c0.1-0.4-0.1-0.9-0.5-1.1c-0.5-0.3-1-0.5-1.5-0.8
              c-0.5-0.2-1-0.4-1.6-0.5c-0.4-0.1-0.9,0.1-1.1,0.5l-1.2,2.1c-0.5,0-1,0-1.5,0l-1.2-2.1c-0.2-0.4-0.7-0.6-1.1-0.5
              c-0.5,0.1-1,0.3-1.5,0.5l-0.2,0.1c-0.5,0.2-0.9,0.4-1.4,0.7c-0.4,0.2-0.6,0.7-0.5,1.1l0.6,2.3c-0.4,0.3-0.7,0.7-1.1,1.1l-2.3-0.6
              c-0.4-0.1-0.9,0.1-1.1,0.5c-0.3,0.4-0.5,0.9-0.7,1.4l-0.1,0.3c-0.2,0.5-0.3,1-0.5,1.4c-0.1,0.4,0.1,0.9,0.5,1.1l2.1,1.2
              c0,0.5,0,1,0,1.5l-2.1,1.2c-0.4,0.2-0.6,0.7-0.5,1.1c0.1,0.5,0.3,1,0.5,1.5l0.1,0.2c0.2,0.5,0.4,1,0.7,1.4
              c0.2,0.4,0.7,0.6,1.1,0.5l2.3-0.6c0.3,0.4,0.7,0.7,1.1,1.1l-0.6,2.3c-0.1,0.4,0.1,0.9,0.5,1.1c0.5,0.3,1,0.5,1.5,0.7
              c0.5,0.2,1.1,0.4,1.6,0.5c0.1,0,0.2,0,0.3,0c0.4,0,0.7-0.2,0.9-0.5l1.2-2.1c0.5,0,1,0,1.5,0l1.2,2.1c0.2,0.4,0.7,0.6,1.1,0.5
              c1.1-0.3,2.1-0.7,3.1-1.3c0.4-0.2,0.6-0.7,0.5-1.1l-0.6-2.3c0.4-0.3,0.7-0.7,1-1.1l2.3,0.6c0.4,0.1,0.9-0.1,1.1-0.5
              c0.3-0.5,0.5-1,0.8-1.5c0.2-0.5,0.4-1.1,0.5-1.6C422.1,227.8,421.9,227.3,421.5,227.1z M413.2,226.5c-0.5,1.3-1.7,2.1-3.1,2.1
              c-0.4,0-0.9-0.1-1.3-0.2c-0.8-0.3-1.5-1-1.8-1.8c-0.3-0.8-0.3-1.7,0-2.6c0.5-1.3,1.7-2.1,3.1-2.1c0.4,0,0.9,0.1,1.3,0.2
              c0.8,0.3,1.5,1,1.8,1.8C413.5,224.7,413.5,225.6,413.2,226.5z" />
              <circle x="0" y="0" r="13.5"></circle>
          </g>
        </g>
        <g class="correct">
          <g class="counterClockwise">
            <path fill="#26393E"
										d="M489.9,227.6l-2.1-1.2c0-0.5,0-1,0-1.5l2.1-1.2c0.4-0.2,0.6-0.7,0.5-1.1c-0.3-1.1-0.7-2.1-1.3-3.1
              c-0.2-0.4-0.7-0.6-1.1-0.5l-2.3,0.6c-0.3-0.4-0.7-0.7-1.1-1.1l0.6-2.3c0.1-0.4-0.1-0.9-0.5-1.1c-0.5-0.3-1-0.5-1.5-0.8
              c-0.5-0.2-1-0.4-1.6-0.5c-0.4-0.1-0.9,0.1-1.1,0.5l-1.2,2.1c-0.5,0-1,0-1.5,0l-1.2-2.1c-0.2-0.4-0.7-0.6-1.1-0.5
              c-0.5,0.1-1,0.3-1.5,0.5l-0.2,0.1c-0.5,0.2-0.9,0.4-1.4,0.7c-0.4,0.2-0.6,0.7-0.5,1.1l0.6,2.3c-0.4,0.3-0.7,0.7-1.1,1.1l-2.3-0.6
              c-0.4-0.1-0.9,0.1-1.1,0.5c-0.3,0.4-0.5,0.9-0.7,1.4l-0.1,0.3c-0.2,0.5-0.3,1-0.5,1.4c-0.1,0.4,0.1,0.9,0.5,1.1l2.1,1.2
              c0,0.5,0,1,0,1.5l-2.1,1.2c-0.4,0.2-0.6,0.7-0.5,1.1c0.1,0.5,0.3,1,0.5,1.5l0.1,0.2c0.2,0.5,0.4,1,0.7,1.4
              c0.2,0.4,0.7,0.6,1.1,0.5l2.3-0.6c0.3,0.4,0.7,0.7,1.1,1.1l-0.6,2.3c-0.1,0.4,0.1,0.9,0.5,1.1c0.5,0.3,1,0.5,1.5,0.7
              c0.5,0.2,1.1,0.4,1.6,0.5c0.1,0,0.2,0,0.3,0c0.4,0,0.7-0.2,0.9-0.5l1.2-2.1c0.5,0,1,0,1.5,0l1.2,2.1c0.2,0.4,0.7,0.6,1.1,0.5
              c1.1-0.3,2.1-0.7,3.1-1.3c0.4-0.2,0.6-0.7,0.5-1.1l-0.6-2.3c0.4-0.3,0.7-0.7,1-1.1l2.3,0.6c0.4,0.1,0.9-0.1,1.1-0.5
              c0.3-0.5,0.5-1,0.8-1.5c0.2-0.5,0.4-1.1,0.5-1.6C490.5,228.3,490.3,227.8,489.9,227.6z M481.6,227c-0.5,1.3-1.7,2.1-3.1,2.1
              c-0.4,0-0.9-0.1-1.3-0.2c-0.8-0.3-1.5-1-1.8-1.8c-0.3-0.8-0.3-1.7,0-2.6c0.5-1.3,1.7-2.1,3.1-2.1c0.4,0,0.9,0.1,1.3,0.2
              c0.8,0.3,1.5,1,1.8,1.8C482,225.2,482,226.1,481.6,227z" />
              <circle x="0" y="0" r="13.5"></circle>
          </g>
        </g>
        <g class="correct">
          <g class="clockwise">
            <path fill="#26393E"
										d="M558.4,227.8l-2.1-1.2c0-0.5,0-1,0-1.5l2.1-1.2c0.4-0.2,0.6-0.7,0.5-1.1c-0.3-1.1-0.7-2.1-1.3-3.1
              c-0.2-0.4-0.7-0.6-1.1-0.5l-2.3,0.6c-0.3-0.4-0.7-0.7-1.1-1.1l0.6-2.3c0.1-0.4-0.1-0.9-0.5-1.1c-0.5-0.3-1-0.5-1.5-0.8
              c-0.5-0.2-1-0.4-1.6-0.5c-0.4-0.1-0.9,0.1-1.1,0.5l-1.2,2.1c-0.5,0-1,0-1.5,0l-1.2-2.1c-0.2-0.4-0.7-0.6-1.1-0.5
              c-0.5,0.1-1,0.3-1.5,0.5l-0.2,0.1c-0.5,0.2-0.9,0.4-1.4,0.7c-0.4,0.2-0.6,0.7-0.5,1.1l0.6,2.3c-0.4,0.3-0.7,0.7-1.1,1.1l-2.3-0.6
              c-0.4-0.1-0.9,0.1-1.1,0.5c-0.3,0.4-0.5,0.9-0.7,1.4l-0.1,0.3c-0.2,0.5-0.3,1-0.5,1.4c-0.1,0.4,0.1,0.9,0.5,1.1l2.1,1.2
              c0,0.5,0,1,0,1.5l-2.1,1.2c-0.4,0.2-0.6,0.7-0.5,1.1c0.1,0.5,0.3,1,0.5,1.5l0.1,0.2c0.2,0.5,0.4,1,0.7,1.4
              c0.2,0.4,0.7,0.6,1.1,0.5l2.3-0.6c0.3,0.4,0.7,0.7,1.1,1.1l-0.6,2.3c-0.1,0.4,0.1,0.9,0.5,1.1c0.5,0.3,1,0.5,1.5,0.7
              c0.5,0.2,1.1,0.4,1.6,0.5c0.1,0,0.2,0,0.3,0c0.4,0,0.7-0.2,0.9-0.5l1.2-2.1c0.5,0,1,0,1.5,0l1.2,2.1c0.2,0.4,0.7,0.6,1.1,0.5
              c1.1-0.3,2.1-0.7,3.1-1.3c0.4-0.2,0.6-0.7,0.5-1.1l-0.6-2.3c0.4-0.3,0.7-0.7,1-1.1l2.3,0.6c0.4,0.1,0.9-0.1,1.1-0.5
              c0.3-0.5,0.5-1,0.8-1.5c0.2-0.5,0.4-1.1,0.5-1.6C559,228.5,558.8,228,558.4,227.8z M550.1,227.1c-0.5,1.3-1.7,2.1-3.1,2.1
              c-0.4,0-0.9-0.1-1.3-0.2c-0.8-0.3-1.5-1-1.8-1.8c-0.3-0.8-0.3-1.7,0-2.6c0.5-1.3,1.7-2.1,3.1-2.1c0.4,0,0.9,0.1,1.3,0.2
              c0.8,0.3,1.5,1,1.8,1.8C550.4,225.4,550.4,226.3,550.1,227.1z" />
              <circle x="0" y="0" r="13.5"></circle>
          </g>
        </g>
      </g>
      <!-- <text transform="matrix(1 0 0 1 688.2965 140.3261)" font-family="'Aller W01 Light'" font-size="10">Business Data</text> -->
      <!-- <text transform="matrix(1 0 0 1 80.5437 154.9323)" font-family="'Aller W01 Light'" font-size="10">Streaming Data</text> -->
    </g>
    </svg>

							</div>

						</div>
					</div>

				</div>
			</div>
			<div class="col-md-2 rd-pt-20">
				<h4>Customer Accolade</h4>
				<blockquote class="blockquote">
					<p>I'm looking forward to this year's reunion and catching up with everyone.</p>
					<footer>
						<cite title="j-thomas">John Thomas</cite>
					</footer>
				</blockquote>
				<blockquote class="blockquote">
					<p>"We've worked with Design for SJ for some special contracts. 
					They are so thorough and fast! Thanks to the great team
					 over there for making design work feel effortless.</p>
					<footer>
						<cite title="chris-rapheal">Chris Raphael</cite>
					</footer>
				</blockquote>
			</div>
		</div>

	</div>

	<div class="modal fade" id="whitepaper-modal" tabindex="-1"
		role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title" id="myModalLabel">Big Data Whitepaper</h4>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<label for="firstname">First Name</label> <input required
							type="text" class="form-control input-sm" name="fname">
					</div>
					<div class="form-group">
						<label for="lastname">Last Name</label> <input required
							type="text" class="form-control input-sm" name="lname">
					</div>
					<div class="form-group">
						<label for="email">Email</label> <input required type="email"
							class="form-control input-sm" name="email">
					</div>
				</div>
				<div align="right" style="margin-bottom: 2%; margin-right: 2%">
					<button type="button" id="btniotwhitepaper" class="btn btn-primary">Download</button>
					<button type="button" id="btncanceliotwhitepaper"
						class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="brochure-modal" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title" id="myModalLabel">Big Data Brochure</h4>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<label for="firstname">First Name</label> <input required
							type="text" class="form-control input-sm" name="fname">
					</div>
					<div class="form-group">
						<label for="lastname">Last Name</label> <input required
							type="text" class="form-control input-sm" name="lname">
					</div>
					<div class="form-group">
						<label for="email">Email</label> <input required type="email"
							class="form-control input-sm" name="email">
					</div>
				</div>
				<div align="right" style="margin-bottom: 2%; margin-right: 2%">
					<button type="button" id="btniotbrochure" class="btn btn-primary">Download</button>
					<button type="button" id="btncanceliotbrochure"
						class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
	</div>
	<!-- content-section-ends -->
	<!-- footer-section-starts -->
	<div class="footer">
		<div class="container">
			<div class="col-md-6 bottom-menu">
				<ul>
					<li><a href="/">HOME</a></li>
					<li><a href="/contactus">CONTACT US</a></li>
				</ul>
			</div>
			<div class="col-md-6 copy-rights">
				<p>
					&copy; 2016 <a href="/">Valley
						Designers</a>
				</p>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
	<!-- footer-section-ends -->
	<script>
		$(document).ready(function() {
			$("#btniotwhitepaper").click(function() {
				$("#btncanceliotwhitepaper").trigger("click");
				window.open("/downloads/bigdata-whitepaper.pdf");
			});

			$("#btniotbrochure").click(function() {
				$("#btncanceliotbrochure").trigger("click");
				window.open("/downloads/bigdata-brochure.pdf");
			});
		});
	</script>
</body>
</html>
