<!DOCTYPE html>
<html>
<head>
<title>Valley Designer</title>
<link href="/stylesheets/bootstrap.css" rel='stylesheet' type='text/css' />
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/js/jquery.min.js"></script>
<!-- Custom Theme files -->
<link href="/stylesheets/style.css" rel="stylesheet" type="text/css"
	media="all" />
<link href="/stylesheets/demo1.css" rel="stylesheet" type="text/css"
	media="all" />
<!-- <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"> -->
<!-- Custom Theme files -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="/js/bundle.js"></script>
<style type="text/css">
.borderless td, .borderless th, .borderless tr {
	border: none !important;
}

#searchblog {
	background: url(/images/icon-search.png);
	width: 10px;
	height: 20px;
	float: left;
}
</style>
<script type="application/x-javascript">
	
	
	 addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } 


</script>
<script
	src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<!--webfont-->
<link
	href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,200,300,700'
	rel='stylesheet' type='text/css'>
<link
	href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic'
	rel='stylesheet' type='text/css'>
<link
	href='http://fonts.googleapis.com/css?family=Karla:400,400italic,700,700italic'
	rel='stylesheet' type='text/css'>
<!-- JavaScript includes -->
<script src="/js/ipresenter.packed.js"></script>
<script type="text/javascript" src="/js/move-top.js"></script>
<script type="text/javascript" src="/js/easing.js"></script>
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event) {
			event.preventDefault();
			$('html,body').animate({
				scrollTop : $(this.hash).offset().top
			}, 1200);
		});
	});
</script>
</head>
<body>
	<!-- header-section-starts -->
	<div class="header">
		<div
			style="background-color: #222; border-color: rgba(66, 70, 77, 0.75);"
			class="header-top">
			<div class="container">
				<div class="logo">
					<a href="index.html"><img style="width: 40%; height: 40%;"
						src="/images/logo.png" alt="" /></a>
				</div>
				<div class="top-menu">
					<span class="menu"> </span>
					<nav id="primary_nav_wrap">
						<ul class="cl-effect-15">
							<li><a href="/">HOME</a></li>
							<li><a href="javascript:void(0)" data-hover="PRODUCTS">PRODUCTS</a>
								<ul>
									<li><a href="/mobile" data-hover="MOBILE">MOBILE</a></li>
									<li><a href="/bigdata" data-hover="BIGDATA">BIG DATA</a></li>
									<li><a href="/iot" data-hover="IOT">IOT</a></li>
								</ul></li>
							<li><a href="javascript:void(0)" data-hover="FEATURES">ABOUT
									US</a>
								<ul>
									<li><a href="/management" data-hover="MANAGEMENT">MANAGEMENT</a></li>
									<li><a href="/codeofconduct" data-hover="CODE OF CONDUCT">CODE
											OF CONDUCT</a></li>
									<li><a href="/businessprocess" data-hover="BUSINESS PROCESS">BUSINESS
											PROCESS</a></li>
									<li><a href="/location" data-hover="LOCATIONS">LOCATIONS</a></li>
									<li><a href="/contactus" data-hover="CONTACT US">CONTACT US</a></li>
								</ul></li>
							<li class="current-menu-item"><a class="active" href="/blog"
								data-hover="BLOG">BLOG</a></li>
						</ul>
					</nav>
				</div>
				<!--script-nav-->
				<script>
					$("span.menu").click(function() {
						$(".top-menu ul").slideToggle("slow", function() {
						});
					});
				</script>
				<!--script-nav-->
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<script type="text/javascript">
		var _gaq = _gaq || [];
		_gaq.push([ '_setAccount', 'UA-32024393-1' ]);
		_gaq.push([ '_trackPageview' ]);

		(function() {
			var ga = document.createElement('script');
			ga.type = 'text/javascript';
			ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl'
					: 'http://www')
					+ '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0];
			s.parentNode.insertBefore(ga, s);
		})();
	</script>
	<!-- header-section-ends -->
	<script type="text/javascript">
		var _gaq = _gaq || [];
		_gaq.push([ '_setAccount', 'UA-32024393-1' ]);
		_gaq.push([ '_trackPageview' ]);

		(function() {
			var ga = document.createElement('script');
			ga.type = 'text/javascript';
			ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl'
					: 'http://www')
					+ '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0];
			s.parentNode.insertBefore(ga, s);
		})();
	</script>

	<!-- Page Content -->
	<div class="container">

		<div class="row">
			<div class="col-md-2 rd-pt-100" style="margin-top: 15px;">
				<a class="twitter-timeline"
					href="https://twitter.com/search?q=technology"
					data-widget-id="726308143907524608">Tweets about technology</a>
				<script>
					!function(d, s, id) {
						var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/
								.test(d.location) ? 'http' : 'https';
						if (!d.getElementById(id)) {
							js = d.createElement(s);
							js.id = id;
							js.src = p + "://platform.twitter.com/widgets.js";
							fjs.parentNode.insertBefore(js, fjs);
						}
					}(document, "script", "twitter-wjs");
				</script>
			</div>
			<!-- Blog Post Content Column -->
			<div class="col-lg-6">

				<!-- Blog Post -->
				<br />
				<!-- Title -->
				<h1>Data is Only Valuable if You Can Quickly Get to It</h1>

				<!-- Author -->
				<p class="lead">
					by <a href="#">Valley Designer</a>
				</p>

				<hr>

				<!-- Date/Time -->
				<p>Posted on April 15, 2016 at 3:00 PM</p>

				<hr>

				<!-- Preview Image -->
				<img class="img-responsive" src="/images/blog-image.png" alt="">

				<hr>

				<!-- Post Content -->
				<p class="lead">Data continues to explode and is becoming
					increasingly important to achieve business success. Companies rely
					on their data to make them smarter, more productive, and better
					decision makers. Advances in data management, business intelligence
					and analytics have improved organizational performance, but with
					data growing everywhere, it is becoming harder to get to the data
					and act on it quickly.</p>
				<p>With more data comes more expectations. Employees, customers,
					and partners expect more service, speed, and personalization. As a
					result, there is pressure on IT to deliver the right data (from
					multiple systems, locations, and sources), to the right person at
					the right time.</p>
				<p>Speaking from my own experience as a marketer, I know my own
					expectations for data and analysis have gone through the roof. Over
					the course of my career, marketing has evolved from an art to much
					more of a science. Today, I continuously challenge my team to prove
					that something is working or that our strategies are grounded in
					data and not just opinion.</p>
				<p>And it’s not just marketing. All disciplines across every
					industry are struggling to keep pace with the growing data demands
					of their employees, customers and partners. The most common request
					we hear from our customers is to share examples of how
					organizations are using their data in new ways. So, we decided to
					share 10 case studies across 10 industries in hopes of inspiring
					you to see your data challenges as an opportunity.</p>

				<hr>

				<!-- Blog Comments -->

				<!-- Comments Form -->
				<div class="well">
					<h4>Leave a Comment:</h4>
					<form role="form">
						<div class="form-group">
							<textarea class="form-control" rows="3"></textarea>
						</div>
						<button type="submit" class="btn btn-primary">Submit</button>
					</form>
				</div>

				<hr>

				<!-- Posted Comments -->

				<!-- Comment -->
				<div class="media">
					<a class="pull-left" href="#"> <img class="media-object"
						src="http://placehold.it/64x64" alt="">
					</a>
					<div class="media-body">
						<h4 class="media-heading">
							Steve Hawk <small>April 25, 2016 at 6:30 PM</small>
						</h4>
						"Data continues to explode and is becoming increasingly important
						to achieve business success." - Impressive
						<!-- Nested Comment -->
						<div class="media">
							<a class="pull-left" href="#"> <img class="media-object"
								src="/images/team-logo.jpg" alt="" height="64px" width="64px">
							</a>
							<div class="media-body">
								<h4 class="media-heading">
									Team Valley Designer <small>April 26, 2016 at 9:30 AM</small>
								</h4>
								Thank you! Keep reading our blogs.
							</div>
						</div>
						<!-- End Nested Comment -->
					</div>
				</div>

			</div>

			<!-- Blog Sidebar Widgets Column -->
			<div class="col-md-4">
				<!-- Blog Search Well -->
				<br />
				<div class="well">
					<h4>Blog Search</h4>
					<div class="input-group">
						<input type="text" class="form-control"> <span
							class="input-group-btn">
							<button class="btn btn-default" type="button">
								<span id="searchblog"></span>
							</button>
						</span>
					</div>
					<!-- /.input-group -->
				</div>

				<!-- Blog Categories Well -->
				<div class="well">
					<h4>Blog Categories</h4>
					<div class="row">
						<div class="col-lg-6">
							<ul class="list-unstyled">
								<li><a href="#">Internet of Things</a></li>
								<li><a href="#">Big Data</a></li>
								<li><a href="#">Real-Time</a></li>
								<li><a href="#">Data Streaming</a></li>
							</ul>
						</div>
						<div class="col-lg-6">
							<ul class="list-unstyled">
								<li><a href="#">Analytics</a></li>
								<li><a href="#">Data Mining</a></li>
								<li><a href="#">Filtering</a></li>
								<li><a href="#">Associative Mining</a></li>
							</ul>
						</div>
					</div>
					<!-- /.row -->
				</div>
				</div>

			</div>

		</div>
		<!-- /.row -->

		<hr>

		<!-- Footer -->

	</div>
	<!-- /.container -->

	<!-- footer-section-starts -->
	<div class="footer">
		<div class="container">
			<div class="col-md-6 bottom-menu">
				<ul>
					<li><a href="/">HOME</a></li>
					<li><a href="/contactus">CONTACT US</a></li>
				</ul>
			</div>
			<div class="col-md-6 copy-rights">
				<p>
					&copy; 2016 <a href="/">Valley
						Designers</a>
				</p>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>

</body>

</html>
