<!DOCTYPE html>
<html>
<head>
<title>Valley Designer</title>
<link href="/stylesheets/bootstrap.css" rel='stylesheet' type='text/css' />
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/js/jquery.min.js"></script>
<!-- Custom Theme files -->
<link href="/stylesheets/style.css" rel="stylesheet" type="text/css"
	media="all" />
<link href="/stylesheets/demo1.css" rel="stylesheet" type="text/css"
	media="all" />
<!-- Custom Theme files -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<script type="application/x-javascript">
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	 addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } 














</script>
<!--webfont-->
<link
	href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,200,300,700'
	rel='stylesheet' type='text/css'>
<link
	href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic'
	rel='stylesheet' type='text/css'>
<link
	href='http://fonts.googleapis.com/css?family=Karla:400,400italic,700,700italic'
	rel='stylesheet' type='text/css'>
<!-- JavaScript includes -->
<script src="/js/ipresenter.packed.js"></script>
<script>
	$(document).ready(function() {
		$('#ipresenter').iPresenter({
			timerPadding : -1,
			controlNav : true,
			controlNavThumbs : true,
			controlNavNextPrev : false
		});

		$(".step").css("min-width", $(window).width());
	});
</script>
<script type="text/javascript" src="/js/move-top.js"></script>
<script type="text/javascript" src="/js/easing.js"></script>
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event) {
			event.preventDefault();
			$('html,body').animate({
				scrollTop : $(this.hash).offset().top
			}, 1200);
		});
	});
</script>
</head>
<body>
	<!-- header-section-starts -->
	<div class="header">
		<div
			style="background-color: #222; border-color: rgba(66, 70, 77, 0.75);"
			class="header-top">
			<div class="container">
				<div class="logo">
					<a href="index.html"><img style="width: 21%; height: 21%;"
						src="/images/logo.png" alt="" /></a>
				</div>
				<div class="top-menu">
					<span class="menu"> </span>
					<nav id="primary_nav_wrap">
						<ul class="cl-effect-15">
							<li class="current-menu-item"><a class="active"
								href="/">HOME</a></li>
							<li><a href="javascript:void(0)" data-hover="PRODUCTS">PRODUCTS</a>
								<ul>
									<li><a href="/bigdata" data-hover="BIGDATA">BIG
											DATA</a></li>
									<li><a href="/iot" data-hover="IOT">IOT</a></li>
								</ul></li>
							<li><a href="javascript:void(0)" data-hover="FEATURES">ABOUT US</a>
								<ul>
									<li><a href="/management" data-hover="MANAGEMENT">MANAGEMENT</a></li>
									<li><a href="contact.html" data-hover="BIGDATA">CODE
											OF CONDUCT</a></li>
									<li><a href="contact.html" data-hover="IOT">BUSINESS
											PROCESS</a></li>
									<li><a href="contact.html" data-hover="IOT">LOCATIONS</a></li>
									<li><a href="contact.html" data-hover="IOT">CONTACTS</a></li>
								</ul></li>
							<li><a href="contact.html" data-hover="CONTACT">BLOG</a></li>
						</ul>
					</nav>
				</div>
				<!--script-nav-->
				<script>
					$("span.menu").click(function() {
						$(".top-menu ul").slideToggle("slow", function() {
						});
					});
				</script>
				<!--script-nav-->
				<div class="clearfix"></div>
			</div>
		</div>
		<div class="slider">
			<div id="ipresenter">
				<div id="intro" class="step" data-x="0" data-y="0">
					<img style="width: 100%; height: 100%;" src="/images/mobile.jpg" />
				</div>

				<div id="capture" class="step" data-x="1100" data-y="1200"
					data-scale="1.8" data-rotate="180">
					<img style="width: 100%; height: 100%;" src="/images/bigdata.jpg" />
				</div>

				<div id="view" class="step" data-x="-300" data-y="600"
					data-scale="0.2" data-rotate="270">
					<img style="width: 100%; height: 100%;" src="/images/iot.jpg" />
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript">
		var _gaq = _gaq || [];
		_gaq.push([ '_setAccount', 'UA-32024393-1' ]);
		_gaq.push([ '_trackPageview' ]);

		(function() {
			var ga = document.createElement('script');
			ga.type = 'text/javascript';
			ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl'
					: 'http://www')
					+ '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0];
			s.parentNode.insertBefore(ga, s);
		})();
	</script>
	<!-- header-section-ends -->
	<!-- content-section-starts -->
	<div class="content">
		<div class="sales">
			<div class="container">
				<div class="sales-grids">
					<div class="col-md-4 sales-grid-a">
						<div align="center">
							<h3 style="color: #fff;">Mobile</h3>
						</div>
						<div style="float: left; margin-left: -22%; padding-top: 10px;">
							<img src="/images/mobileDev.png" alt="" />
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="col-md-4 sales-grid-b">
						<div align="center">
							<h3 style="color: #fff;">Big Data</h3>
						</div>
						<div style="float: left; margin-left: -22%; padding-top: 10px;">
							<img src="/images/big-data.png" alt="" />
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="col-md-4 sales-grid-c">
						<div align="center">
							<h3 style="color: #fff;">Internet of Things</h3>
						</div>
						<div style="float: left; margin-left: -22%; padding-top: 10px;">
							<img src="/images/internet-of-things.png" alt="" />
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
		<!-- products-section-starts -->
		<div class="products-section">
			<div class="container">
				<div class="product-section-head-text">
					<h3>
						FEATURED <span>PRODUCTS</span>
					</h3>
				</div>
				<div class="bottom-grids collections">
					<div class="bottom-grids-left">
						<div class="f-products">
							<!----sreen-gallery-cursual---->
							<div class="sreen-gallery-cursual">
								<!-- requried-jsfiles-for owl -->
								<link href="/stylesheets/owl.carousel.css" rel="stylesheet">
								<script src="/js/owl.carousel.js"></script>
								<script>
									$(document).ready(function() {
										$("#owl-demo").owlCarousel({
											items : 3,
											lazyLoad : true,
											autoPlay : true,
											navigation : true,
											navigationText : false,
											pagination : false,
										});
									});
								</script>
								<!-- //requried-jsfiles-for owl -->
								<!-- start content_slider -->
								<div id="owl-demo" class="owl-carousel text-center">
									<div class="item">
										<div onclick="location.href='single.html';"
											class="product-grid">
											<div class="product-pic">
												<img src="/images/p1.jpg" title="Woman's T - Shirt" />
											</div>
											<div class="product-pic-info">
												<h4>
													<a href="#">Woman's T - Shirt</a>
												</h4>
												<div class="product-pic-info-price-cart">
													<div class="product-pic-info-price">
														<span>$129</span>
													</div>
													<div class="product-pic-info-cart">
														<a class="p-btn" href="single.html">Add to Cart</a>
													</div>
													<div class="clearfix"></div>
												</div>
											</div>
										</div>
									</div>
									<div class="item">
										<div onclick="location.href='single.html';"
											class="product-grid">
											<div class="product-pic">
												<img src="/images/p2.jpg" title="Woman's T - Shirt" />
											</div>
											<div class="product-pic-info">
												<h4>
													<a href="#">Woman's T - Shirt</a>
												</h4>
												<div class="product-pic-info-price-cart">
													<div class="product-pic-info-price">
														<span>$89</span>
													</div>
													<div class="product-pic-info-cart">
														<a class="p-btn" href="single.html">Add to Cart</a>
													</div>
													<div class="clearfix"></div>
												</div>
											</div>
										</div>
									</div>
									<div class="item">
										<div onclick="location.href='single-page.html';"
											class="product-grid">
											<div class="product-pic">
												<img src="/images/p3.jpg" title="Woman's T - Shirt" />
											</div>
											<div class="product-pic-info">
												<h4>
													<a href="#">Woman's T - Shirt</a>
												</h4>
												<div class="product-pic-info-price-cart">
													<div class="product-pic-info-price">
														<span>$149</span>
													</div>
													<div class="product-pic-info-cart">
														<a class="p-btn" href="single.html">Add to Cart</a>
													</div>
													<div class="clearfix"></div>
												</div>
											</div>
										</div>
									</div>
									<div class="item">
										<div onclick="location.href='single.html';"
											class="product-grid">
											<div class="product-pic">
												<img src="/images/p1.jpg" title="Woman's T - Shirt" />
											</div>
											<div class="product-pic-info">
												<h4>
													<a href="#">Woman's T - Shirt</a>
												</h4>
												<div class="product-pic-info-price-cart">
													<div class="product-pic-info-price">
														<span>$129</span>
													</div>
													<div class="product-pic-info-cart">
														<a class="p-btn" href="single.html">Add to Cart</a>
													</div>
													<div class="clearfix"></div>
												</div>
											</div>
										</div>
									</div>
									<div class="item">
										<div onclick="location.href='single.html';"
											class="product-grid">
											<div class="product-pic">
												<img src="/images/p3.jpg" title="Woman's T - Shirt" />
											</div>
											<div class="product-pic-info">
												<h4>
													<a href="#">Woman's T - Shirt</a>
												</h4>
												<div class="product-pic-info-price-cart">
													<div class="product-pic-info-price">
														<span>$129</span>
													</div>
													<div class="product-pic-info-cart">
														<a class="p-btn" href="single.html">Add to Cart</a>
													</div>
													<div class="clearfix"></div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<!--//sreen-gallery-cursual---->

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- products-section-ends -->
	<!-- footer-section-starts -->
	<div class="footer">
		<div class="container">
			<div class="col-md-6 bottom-menu">
				<ul>
					<li><a href="index.html">HOME</a></li>
					<li><a href="#">PORTFOLIO</a></li>
					<li><a href="#">SITEMAP</a></li>
					<li><a href="contact.html"> CONTACT</a></li>
				</ul>
			</div>
			<div class="col-md-6 copy-rights">
				<p>
					&copy; 2016 <a href="http://w3layouts.com" target="target_blank">Valley
						Designers</a>
				</p>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
	<!-- footer-section-ends -->
</body>
</html>
