<!DOCTYPE html>
<html>
<head>
<title>EAGLECLOTHES Bootstarp responsive Website Template| Home
	:: w3layouts</title>
<link href="/stylesheets/bootstrap.css" rel='stylesheet' type='text/css' />
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/js/jquery.min.js"></script>
<!-- Custom Theme files -->
<link href="/stylesheets/style.css" rel="stylesheet" type="text/css"
	media="all" />
<link href="/stylesheets/demo1.css" rel="stylesheet" type="text/css"
	media="all" />
<!-- Custom Theme files -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<script type="application/x-javascript">
	
	
	
	 addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } 



</script>
<!--webfont-->
<link
	href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,200,300,700'
	rel='stylesheet' type='text/css'>
<link
	href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic'
	rel='stylesheet' type='text/css'>
<link
	href='http://fonts.googleapis.com/css?family=Karla:400,400italic,700,700italic'
	rel='stylesheet' type='text/css'>
<!-- JavaScript includes -->
<script src="/js/ipresenter.packed.js"></script>
<script>
	$(document).ready(function() {
		$('#ipresenter').iPresenter({
			timerPadding : -1,
			controlNav : true,
			controlNavThumbs : true,
			controlNavNextPrev : false
		});

		$(".step").css("min-width", $(window).width());
	});
</script>
<script type="text/javascript" src="/js/move-top.js"></script>
<script type="text/javascript" src="/js/easing.js"></script>
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event) {
			event.preventDefault();
			$('html,body').animate({
				scrollTop : $(this.hash).offset().top
			}, 1200);
		});
	});
</script>
</head>
<body>
	<!-- header-section-starts -->
	<div class="header">
		<div
			style="background-color: #222; border-color: rgba(66, 70, 77, 0.75);"
			class="header-top">
			<div class="container">
				<div class="logo">
					<a href="index.html"><img style="width: 21%; height: 21%;"
						src="/images/logo.png" alt="" /></a>
				</div>
				<div class="top-menu">
					<span class="menu"> </span>
					<nav id="primary_nav_wrap">
						<ul class="cl-effect-15">
							<li><a class="active" href="index.html">HOME</a></li>
							<li class="current-menu-item"><a href="javascript:void(0)"
								data-hover="PRODUCTS">PRODUCTS</a>
								<ul>
									<li><a href="/mobile" data-hover="MOBILE">MOBILE</a></li>
									<li><a href="/bigdata" data-hover="BIGDATA">BIG DATA</a></li>
									<li><a href="/iot" data-hover="IOT">IOT</a></li>
								</ul></li>
							<li><a href="javascript:void(0)" data-hover="FEATURES">ABOUT
									US</a>
								<ul>
									<li><a href="contact.html" data-hover="MOBILE">MANAGEMENT</a></li>
									<li><a href="contact.html" data-hover="BIGDATA">CODE
											OF CONDUCT</a></li>
									<li><a href="contact.html" data-hover="IOT">BUSINESS
											PROCESS</a></li>
									<li><a href="contact.html" data-hover="IOT">LOCATIONS</a></li>
									<li><a href="contact.html" data-hover="IOT">CONTACTS</a></li>
								</ul></li>
							<li><a href="contact.html" data-hover="CONTACT">BLOG</a></li>
						</ul>
					</nav>
				</div>
				<!--script-nav-->
				<script>
					$("span.menu").click(function() {
						$(".top-menu ul").slideToggle("slow", function() {
						});
					});
				</script>
				<!--script-nav-->
				<div class="clearfix"></div>
			</div>
		</div>
		<div class="slider">
			<div id="ipresenter">
				<div id="intro" class="step" data-x="0" data-y="0">
					<img style="width: 100%; height: 100%;" src="/images/mobile.jpg" />
				</div>

				<div id="capture" class="step" data-x="1100" data-y="1200"
					data-scale="1.8" data-rotate="180">
					<img style="width: 100%; height: 100%;" src="/images/bigdata.jpg" />
				</div>

				<div id="view" class="step" data-x="-300" data-y="600"
					data-scale="0.2" data-rotate="270">
					<img style="width: 100%; height: 100%;" src="/images/iot.jpg" />
				</div>
			</div>
		</div>
	</div>
	<!-- header-section-ends -->
	<!-- content-section-starts -->
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-2 rd-pt-100">
				<button class="btn btn-block btn-info" data-toggle="modal"
					data-target="#brochure-modal">Brochure</button>
				<button class="btn btn-block btn-info" data-toggle="modal"
					data-target="#whitepaper-modal">White Paper</button>
			</div>
			<div class="col-md-8">
				<div class="row">
					<div class="col-xs-12">
						<h3>About Big Data</h3>
						<p>Big data is being generated by everything around us at all
							times. Every digital process and social media exchange produces
							it. Systems, sensors and mobile devices transmit it. Big data is
							arriving from multiple sources at an alarming velocity, volume
							and variety. To extract meaningful value from big data, you need
							optimal processing power, analytics capabilities and skills.</p>

						<p>
							Source: <a href="http://www.ibm.com/big-data/us/en/">IBM</a>
						</p>
					</div>

					<div class="col-md-offset-3 col-md-6">
						<div class="embed-responsive embed-responsive-16by9">
							<iframe width="560" height="315"
								src="https://www.youtube.com/embed/c4BwefH5Ve8" frameborder="0"
								allowfullscreen></iframe>
						</div>
					</div>

				</div>
			</div>
			<div class="col-md-2 rd-pt-20">
				<h4>Customer Accolade</h4>
				<blockquote class="blockquote">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
						sed do eiusmodtempor incididunt ut labore et dolore magna aliqua.</p>
					<footer>
						<cite title="j-thomas">John Thomas</cite>
					</footer>
				</blockquote>
				<blockquote class="blockquote">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
						sed do eiusmodtempor incididunt ut labore et dolore magna aliqua.</p>
					<footer>
						<cite title="chris-rapheal">Chris Raphael</cite>
					</footer>
				</blockquote>
			</div>
		</div>

	</div>

	<div class="modal fade" id="whitepaper-modal" tabindex="-1"
		role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title" id="myModalLabel">Big Data Whitepaper</h4>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<label for="firstname">First Name</label> <input required
							type="text" class="form-control input-sm" name="fname">
					</div>
					<div class="form-group">
						<label for="lastname">Last Name</label> <input required
							type="text" class="form-control input-sm" name="lname">
					</div>
					<div class="form-group">
						<label for="email">Email</label> <input required type="email"
							class="form-control input-sm" name="email">
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" id="get-whitepaper-btn"
					class="btn btn-primary">Download</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>

	<div class="modal fade" id="brochure-modal" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title" id="myModalLabel">Big Data Brochure</h4>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<label for="firstname">First Name</label> <input required
							type="text" class="form-control input-sm" name="fname">
					</div>
					<div class="form-group">
						<label for="lastname">Last Name</label> <input required
							type="text" class="form-control input-sm" name="lname">
					</div>
					<div class="form-group">
						<label for="email">Email</label> <input required type="email"
							class="form-control input-sm" name="email">
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" id="get-brochure-btn" class="btn btn-primary">Download</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
	<!-- content-section-ends -->
	<!-- footer-section-starts -->
	<div class="footer">
		<div class="container">
			<div class="col-md-6 bottom-menu">
				<ul>
					<li><a href="index.html">HOME</a></li>
					<li><a href="#">PORTFOLIO</a></li>
					<li><a href="#">SITEMAP</a></li>
					<li><a href="contact.html"> CONTACT</a></li>
				</ul>
			</div>
			<div class="col-md-6 copy-rights">
				<p>
					&copy; 2016 <a href="http://w3layouts.com" target="target_blank">Valley
						Designers</a>
				</p>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
	<!-- footer-section-ends -->
</body>
</html>
